
.about-section p{
  color: #fff; 
  text-align: justify;
  font-size: 0.8rem; 
  letter-spacing: 0.05em; 
  line-height: 1.6; 
}




.about-section .about-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-section .about-text {
  flex: 2;
}

.about-section .about-skills {
  flex: 1;
}

.about-section h3 {
  font-family: var(--font-heading);
  color: var(--color3);
}

.about-section .skills-list {
  list-style: none;
  padding: 0;
  letter-spacing: 0.05em; 
  color: white;
}

.about-section .skills-list li {
  background: var(--color2);
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.about-section strong {
    color: var(--color3);
}

.about-section .about-image {
  width: 100%; 
  height: auto; 
  max-height: 200px; 
  object-fit: cover; 
  border-radius: 8px; 
  margin-top: 1rem; 
  display: block; 
}
