.experience-section p{
  color: #fff; 
  text-align: justify;
  font-size: 0.65rem; 
  letter-spacing: 0.05em; 
  line-height: 1.6; 
}

.experience-section .experience-content {
  display: flex;
  flex-direction: column; 
  gap: 1.5rem;
  color: #fff; 
}

.experience-section .experience-area {
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 8px;
  padding: 1.5rem;
}

.experience-section h3 {
  font-family: var(--font-heading);
  color: var(--color3);
  margin-top: 0;
  margin-bottom: 1rem;
}


.experience-section p:last-child {
  margin-bottom: 0;
}

.experience-section strong {
  color: var(--color4); 
}

@media (max-width: 768px) {
  .experience-section p {
    font-size: 0.8rem;
    text-align: justify;
  }
}
